<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PerifaZenda.Properties.Settings.DbFazendaUrbanaConnectionString"
            connectionString="Data Source=DESKTOP-B0T0JQ1;Initial Catalog=DbFazendaUrbana;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PerifaZenda.Properties.Settings.DbPerifaZenda" connectionString="Data Source=perifazendaserver.database.windows.net;Initial Catalog=dbPerifaZenda;Persist Security Info=True;User ID=adminperifazenda;Password=Admin@perifazenda;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>